<!DOCTYPE html>
<html lang="en">
<head>
    <title>JuicyFacts</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class=""><a href="#products">Juicy Products</a>
                    </li>
                    <li role="presentation"><a href="#calories">Juicy Calories</a>
                    </li>
                    <li role="presentation"><a href="#ingredients">Juicy Ingredients</a>
                    <li role="presentation"><a href="#chartHeader">Juicy Ingredients</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">JuicyFacts App</h3>
        </div>
        <div class="jumbotron text-center">
            <h1>JuicyFacts App</h1>
            <p class="lead">Facts about Juicy Juice Brand Drinks</p>
        </div>
        <h2 id="products">Juicy Products</h2>
            <p>Did you know that Juicy Juice makes {{juicy_total_products}} products?</p>
        <h2 id="calories">Juicy Calories</h2>
            <p>Did you know that on average, Juicy Juice drinks have {{average_calories_per_ounce}} calories per ounce?</p>
        <h2 id="ingredients">Juicy Ingredients</h2>
            <p>Here's all of the most common Juicy Juice ingredients and the products in which they are found.</p>
            <table class="table table-inverse">
                <thead>
                    <th>Ingredient</th>
                    <th>Products</th>
                </thead>
                <tbody>
                    {% for ingredient, products in juicy_ingredients.items()%}
                    <tr>
                        <td>{{ingredient}}</td>
                        <td>{{products}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        <h2 id="chartHeader">Juicy Chart</h2>
            <p>Here are all the Juicy Juice ingredients and the percentage of products in which they are found.</p>
            <div class="chartContainer">
                <canvas id="chart"></canvas>
            </div>
        <footer class="footer row">
            <div class="col-xs-9">
                <p>&copy; JuciyFacts 2017</p>
            </div>
            <div class="col-xs-3">
                <a href="http://www.nutritionix.com/api"><img src="https://d2eawub7utcl6.cloudfront.net/images/poweredby_nutritionix_api.png" alt="powered by nutritionix"></a>
            </div>
        </footer>
    </div>
    <script type="text/javascript">
        // bar chart data
        var barData = {
            labels : [
                {% for item in labels %}
                "{{item}}",
                {% endfor %}
            ],
            datasets : [
                {
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    data : [
                        {% for item in values %}
                        {{item}},
                        {% endfor %}
                    ]
                }
            ]
        }

        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");

        steps = 10
        max = 100
        // draw bar chart
        new Chart(mychart).Bar(barData, {
            scaleOverride: true,
            scaleSteps: steps,
            scaleStepWidth: Math.ceil(max / steps),
            scaleStartValue: 0,
            scaleShowVerticalLines: false,
            scaleShowGridLines : true,
            barShowStroke : true,
            scaleShowLabels: true,
            responsive: true,
            responsiveAnimationDuration: 15,
            maintainAspectRatio: false
        });
    </script>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>