<!DOCTYPE html>
<html lang="en">
<head>
    <title>JuicyFacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class=""><a href="#products">Juicy Products</a>
                    </li>
                    <li role="presentation"><a href="#calories">Juicy Calories</a>
                    </li>
                    <li role="presentation"><a href="#ingredients">Juicy Ingredients</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">JuicyFacts App</h3>
        </div>
        <div class="jumbotron text-center">
            <h1>JuicyFacts App</h1>
            <p class="lead">Facts about Juicy Juice Brand Drinks</p>
        </div>
        <h2 id="products">Juicy Products</h2>
            <p>Did you know the Juicy Juice makes {{juicy_total_products}} products?</p>
        <h2 id="calories">Juicy Calories</h2>
        <h2 id="ingredients">Juicy Ingredients</h2>
        <footer class="footer row">
            <div class="col-xs-9">
                <p>&copy; JuciyFacts 2017</p>
            </div>
            <div class="col-xs-3">
                <a href="http://www.nutritionix.com/api"><img src="https://d2eawub7utcl6.cloudfront.net/images/poweredby_nutritionix_api.png" alt="powered by nutritionix"></a>
            </div>
        </footer>
    </div>

    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>